/*Alternerar mellan bild och text i två kolumner med :nth-child*/

#projectContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.projectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.projectItem:hover {
    background-color: #fdf5dbbd;
    cursor: pointer;
    text-decoration: underline;
}

.projectItem:nth-child(even) {
    flex-direction: row-reverse;
}

.projectText {
    flex: 1;
}

.projectImg {
    flex: 1;
}

.projectImg img {
    width: 100%;
    height: auto;
}

/*mobilskärm*/
@media (max-width: 550px) {

    .projectItem {
    flex-direction: column;
    padding: 2em; 
}

    .projectItem:nth-child(even) {
    flex-direction: column;
}

}