header {
    width: 100%; 
    position: absolute;
    z-index: 99;
    display: flex;  
    align-items:center;
    justify-content:space-between;
}

header ul {
    list-style: none;
}

header li {
    display: inline; 
    position: relative;
} 

.nav-link {
    text-decoration: none;
    color: #fffcf2; 
    font-size: 1.5em;
    padding: 1em; 
    overflow: hidden;
    transition: .3s; 
}

/*Grundkod för animering vid hover*/
ul .nav-link:hover {
    color: #ffffff;
}

ul li .nav-link:before {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 3px; 
    background: #ef6f6c;
    scale: 0 1;
    transition: scale 0.3s, translate 0s 0.3s;
}


ul li .nav-link:hover:before {
    scale: 1 1;
    transition: scale 0.3s;
}

ul li .nav-link.active {
    text-decoration: underline;
    text-decoration-color:#ef6f6c;
}

/*headerwave*/
img {
    width: 100%;
    z-index: -1; 
}

#logoWrapper {
    width: 100%;
    max-width:200px; 
    height: auto;
    padding:1%;  
}

/*Logga ut knapp*/
#logOutBtn {
    margin-right: 2em; 
    background-color: #FFC857;
    padding: 1em; 
    font-size: 1em;
    font-weight:500;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}

#logOutBtn:hover {
    background-color: #e6b24a;
    cursor: pointer;
    transition: .5s;
}

/*Hearder image*/
#headerImgWrapper {
    width: 100%;
    max-width: 100vw; 
    height: auto; 
    position: absolute;
    top: 0; 
    z-index: -1;
}
