#gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 10px;
} 

.gridItem:hover {
    background-color: #fdf5dbbd;
    cursor: pointer;
    text-decoration: underline;
}

/*För användarvänlighet, men att den inte ska se för stor ut*/
.gridItem h2 {
    font-size: 2em
}


#gridContainer .gridItem img {
    max-width: 100%; 
    width: 100%;
    margin: 0 auto; 
    height: 200px;
    max-height: 100%;
    margin: 0 auto; 
    vertical-align: middle;
} 

/*mellanskärm*/
@media (max-width: 900px) {
    #gridContainer {
       grid-template-columns: repeat(2, 1fr); 
    }
}

/*mobilskärm*/
@media (max-width: 550px) {
    #gridContainer {
        grid-template-columns: repeat(1, 1fr); 
    }
}